---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.page__content {
  font-size: 16px;
  }

.page__content ul {
  padding-top: 5px;
  }

.page__content li {
  font-size: 16px;
  }

.page__footer {
  visibility: hidden
  }

div.initial-content {
  flex: 0 0;
}

div.page__hero {
  margin-bottom: 0em;
}

body > div > div.page__hero--overlay {
  min-height: 100vh
}

.page__hero--overlay {
  margin-bottom: 0em;
}

.page__hero--overlay .wrapper {
  position: fixed;
  font-size: unquote("clamp(0.5rem, 0.3816rem + 0.5263vw, 1.5rem)");
  bottom: 20%;
  left: 60%;
  word-wrap: normal;
}
